body {
    background-color: #333;
    width: 100%;
    height: 100%;
}



#container {
    background-color: #3AB0FF;
    border: 5px solid #fff;
    height: 200vh;
    width: 80vw;
    margin: auto;
    text-align:center;
}

#container h1 {
    font-family:  'Nabla', cursive;
}

#container h2 {
    font-family: 'VT323', monospace;
    font-size: 25px;
    font-weight: 500;
}

.explain {
    text-align: left;
    width: 200px;
    border: 1px solid #333;
    position: relative;
    padding: 20px;
    margin: auto;
    background-color: #FFB562;
    box-shadow: 5px 5px 0px #333;
}

.explain p {
    font-style: italic;
}

#startGame {
    margin: 30px 10px auto;
}

#startBtn {
    height: 40px;
    width: 100px;
    background-color: #F87474;
    box-shadow:5px 5px 0px #333;
    font-family: 'VT323', monospace;
    font-size: 25px;
}

#userInput {
    height: 30px;
    margin-right: 10px;
}

#btn {
    height: 30px;
    width: 80px;
}

#outputText {
    column-count: 3;
    height: 100vh;
    break-inside: avoid;
}